

<h1>Bem vindo(a) ao Magalu</h1>
      <button  class="btn btn-outline-primary"> <a class="nav-link text-dark" asp-area="" asp-controller="Produtos" asp-action="Index">Produtos</a></button>
      <button  class="btn btn-outline-primary"> <a class="nav-link text-dark" asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a></button>
      <hr>

<div class="text-success"><hr></div>

<hr class="border border-danger border-2 opacity-50">
<hr class="border border-primary border-3 opacity-75">

<br /><button class="btn btn-outline-primary"> @Html.ActionLink("Logoff","Sair","Home")</button>







