html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(white,lightblue, lightblue, blue )
}

a{
    text-decoration:none;
}

.lnr-eye {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}